body {
  margin: 0;
  padding: 1rem;
}
.slide {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-1 {
  background: chocolate;
}
.slide-2 {
  background:darkcyan;
}
.slide-3 {
  background: darkred;
}
.slide-4 {
  background:deeppink;
}